<!DOCTYPE html>
<html ng-app="RadarChart">

<head>
    <meta charset="utf-8">
    <title>D3 Radar Chart</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <!--https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css-->
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600"/>
    <link rel="stylesheet" href="../css/spiderStyle.css"/>
</head>

<body class="container" ng-controller="MainCtrl as radar">
<!-- main content -->
<div class="main container">
    <!-- visualization -->
    <div class="visualization col-xs-9">
        <div class="visualization">
            <radar csv="radar.csv" config="radar.config"></radar>
        </div>
    </div>


    <!-- configuration -->
    <div class="configuration col-xs-5">
        <form>
            <h3>Configuration Parameters</h3>
            <div class="form-group">
                <label>Width:</label>
                <input type="number" class="form-control-inline" step="50" ng-model="radar.config.w"/>
                <label>Height:</label>
                <input type="number" class="form-control-inline" step="50" ng-model="radar.config.h"/>
            </div>
            <div class="form-group">
                <label>Levels:</label>
                <input type="number" class="form-control-inline" step="1" ng-model="radar.config.levels"/>
            </div>
            <div class="form-group">
                <label>Padding Scale:</label>
                <input type="number" class="form-control-inline" step="0.1" ng-model="radar.config.facetPaddingScale"/>
            </div>
            <div class="form-group">
                <label>Label Scale:</label>
                <input type="number" class="form-control-inline" step="0.1" ng-model="radar.config.labelScale"/>
            </div>
            <div class="form-group">
                <label class="checkbox"><input type="checkbox" ng-model="radar.config.facet"/><span
                        class="text-primary">Facet Plot</span></label>
                <label class="checkbox"><input type="checkbox" ng-model="radar.config.showLevels"/>Levels</label>
                <label class="checkbox"><input type="checkbox" ng-model="radar.config.showAxes"/>Axes</label>
                <label class="checkbox"><input type="checkbox" ng-model="radar.config.showVertices"/>Vertices</label>
                <label class="checkbox"><input type="checkbox" ng-model="radar.config.showPolygons"/>Polygons</label>
                <label class="checkbox"><input type="checkbox" ng-model="radar.config.showLegend"/>Legend</label>
                <label class="checkbox"><input type="checkbox" ng-model="radar.config.showLevelsLabels"/>Levels
                    Labels</label>
                <label class="checkbox"><input type="checkbox" ng-model="radar.config.showAxesLabels"/>Axes
                    Labels</label>
            </div>
        </form>
    </div>
</div>


<!-- scripts -->
<script src="../js/angular.js"></script>
<!--http://code.angularjs.org/1.3.5/angular.js-->
<script src="../js/d3.v3.min.js"></script>
<script>
    //    einai to app.js poy to metefera edw mesa
    angular.module("RadarChart", [])
            .directive("radar", radar)
            .controller("MainCtrl", MainCtrl);

    // controller function MainCtrl
    function MainCtrl($http) {
        var ctrl = this;

        var layoutId, layoutType, experiment, layoutSet, layoutSimilarity, response;

        loadFromUrlParametersAndServer();

        ajaxCall();

        function ajaxCall() {
            console.log("ajaxCall for spider layout: " + experiment);
            var url = "http://localhost:3001/getSpider?ex=" + experiment + "&id=" + layoutId + "&set=" + layoutSet +"&s=" + layoutSimilarity;
console.log(url)
//              $http.get('/someUrl', config).then(successCallback, errorCallback);
            $http({
                method: 'GET',
                url: url
            }).then(function successCallback(resp) {
                response = resp.response;
console.log(resp)
//                createSpider();
                // this callback will be called asynchronously
                // when the response is available
            });
        }

        function UrlExists(url) {
            var http = new XMLHttpRequest();
            http.open('HEAD', url, false);
            http.send();
            return http.status != 404;
        }

        /* function returns 1 if an array contains an object or 0 if not */
        function include(arr, obj) {
            return (arr.indexOf(obj) != -1);
        }

        function loadFromUrlParametersAndServer() {
            if ((experiment = getUrlParameter('ex')) == null) {
                experiment = 'ACM_400T_1000IT_6000CHRs_150_40PRN100B_4M_4TH_cosNoPPR';
            }
            if ((layoutId = getUrlParameter('id')) == null) {         //default
                layoutId = '81100002314';
            }
            if (layoutId == 'all') {         //default
                layoutId = '81100002314';
            }
            if ((layoutSet = getUrlParameter('set')) == null) {         //default
                layoutSet = 'topics';
            }
            if ((layoutSimilarity = getUrlParameter('s')) == null) {         //default
                layoutSimilarity = 0.9;
            }
        }

        function getUrlParameter(name) {
            return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|;|$)').exec(location.search) || [, ""])[1].replace(/\+/g, '%20')) || null
        }


        // function init - createSpider
        function createSpider() {
            // initialize controller variables

            $http.get(response).success(function (data) {
                console.log(data)
                ctrl.csv = data;
            }).error(function (data, status, headers, config) {
                console.log(data)
                console.log(status)
                console.log(headers)
                console.log(config)
                console.log(".")
            });
            ctrl.config = {
                w: 500,
                h: 500,
                facet: false,
                levels: 5,
                levelScale: 0.85,
                labelScale: 0.9,
                facetPaddingScale: 2.1,
                showLevels: true,
                showLevelsLabels: true,
                showAxesLabels: true,
                showAxes: true,
                showLegend: true,
                showVertices: true,
                showPolygons: true
            };
        }
    }

    function getUrlParameter(name) {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [, ""])[1].replace(/\+/g, '%20')) || null
    }

    // directive function sunburst
    function radar() {
        return {
            restrict: "E",
            scope: {
                csv: "=",
                config: "="
            },
            link: radarDraw
        };
    }

    d3.select(".axis-labels").attr("cursor", "pointer");
</script>
<script src="../js/radar.js"></script>
<script src="../js/radarDraw.js"></script>
<script>
    // Hack to make this example display correctly in an iframe on bl.ocks.org
    //    d3.select(self.frameElement).style("height", "1000px");
</script>
</body>

</html>